.search_section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:50px;
	margin-bottom:10px;
}

.search_input {
	width: 55%;
}

.search_button {
	border: none;
	text-decoration: none;
	background-color: transparent;
	font-size: 1.5em;
}

.search_button:active {
  outline: none;
  border: none;
}

.filter_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter_name{
	display: flex;
	justify-content: center;
	font-size: 1.2em;
	font-weight: bold;
}

.filter_box {
	padding: 2%;
	width: 100%;
}

.filter_name {
	margin-bottom: 10px;;
	margin-top: 10px;
}

.filter_button_box {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	text-align: center;
	align-items: center;
}